body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative
}

body {
	background-color: #ff00e4;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.4;
	color: #fcfcfc
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	padding: 0;
	*border-collapse: expression("separate", cellSpacing="0px")
}

a {
	color: #58b4dc
}

#titlebar {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	background: #21272c;
	border-top: 3px solid #21272c;
	border-left: 3px solid #21272c;
	border-right: 3px solid #21272c
}

#titlebar .corner {
	position: absolute;
	top: -3px
}

#titlebar .corner.tl {
	left: -3px;
	width: 23px;
	height: 23px;
	background: url(tl.gif)
}

#titlebar .corner.tr {
	right: -3px;
	width: 6px;
	height: 6px;
	background: url(tr.gif)
}

#titlebar h1 {
	margin: 0;
	padding: 12px 75px 0 20px;
	color: #fcfcfc;
	font-size: 14px;
	text-transform: uppercase
}

#titlebar a {
	display: block;
	position: absolute;
	text-decoration: none;
	color: #fff;
	width: 35px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-align: center
}

#titlebar .min {
	top: 0;
	right: 41px;
	line-height: 42px
}

#titlebar .close {
	top: 0;
	right: 6px;
	font-size: 15px
}

#titlebar a:hover {
	color: #58b4dc
}

#cornerWrap {
	position: absolute;
	top: 43px;
	right: 0;
	bottom: 0;
	left: 0
}

#cornerWrap .borderSlants {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 20px;
	width: 27px;
	height: 3px;
	background: url(borderSlants.png) no-repeat
}

#cornerWrap .corner {
	position: absolute;
	z-index: 1;
	bottom: 0
}

#cornerWrap .corner.bl {
	left: 0;
	width: 6px;
	height: 6px;
	background: url(bl.gif)
}

#cornerWrap .corner.br {
	right: 0;
	width: 24px;
	height: 24px;
	background: url(br.gif)
}

#content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	word-wrap: break-word;
	overflow: hidden;
	border-top: 3px solid #58b4dc;
	border-left: 3px solid #21272c;
	border-right: 3px solid #21272c;
	border-bottom: 3px solid #21272c;
	background: #3e464e url(scanLine.png)
}

#content .innerContent {
	padding: 15px;
	background: url(topShadow.png) repeat-x
}

#resizeArea {
	display: block;
	position: absolute;
	z-index: 3;
	bottom: 0;
	right: 0;
	width: 24px;
	height: 24px;
	cursor: nwse-resize
}

.resizeArea {
	position: absolute;
	z-index: 2
}

.resizeArea.top {
	top: 0;
	left: 10px;
	right: 10px;
	height: 3px;
	cursor: n-resize
}

.resizeArea.tr {
	top: 0;
	right: 0;
	height: 10px;
	width: 10px;
	cursor: ne-resize
}

.resizeArea.right {
	top: 10px;
	right: 0;
	bottom: 10px;
	width: 3px;
	cursor: e-resize
}

.resizeArea.br {
	bottom: 0;
	right: 0;
	height: 20px;
	width: 20px;
	cursor: se-resize
}

.resizeArea.bottom {
	bottom: 0;
	left: 10px;
	right: 10px;
	height: 3px;
	cursor: s-resize
}

.resizeArea.bl {
	bottom: 0;
	left: 0;
	height: 10px;
	width: 10px;
	cursor: sw-resize
}

.resizeArea.left {
	top: 10px;
	left: 0;
	bottom: 10px;
	width: 3px;
	cursor: w-resize
}

.resizeArea.tl {
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	cursor: nw-resize
}

.nano>.nano-content {
	position: absolute;
	overflow-y: scroll;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.nano>.nano-content:focus {
	outline: thin dotted
}

.nano>.nano-content::-webkit-scrollbar {
	display: none
}

.has-scrollbar>.nano-content::-webkit-scrollbar {
	display: block
}

.nano>.nano-pane {
	background: transparent;
	position: absolute;
	width: 10px;
	right: 0;
	top: 0;
	bottom: 17px;
	visibility: hidden\9;
	opacity: .01;
	transition: .2s
}

.nano>.nano-pane>.nano-slider {
	background: #444;
	background: rgba(0, 0, 0, .5);
	position: relative;
	margin: 0
}

.nano-pane.active,
.nano-pane.flashed,
.nano:hover>.nano-pane {
	visibility: visible\9;
	opacity: .99
}

.well {
	background-color: #21272c;
	border-top: 1px solid #131619;
	border-left: 1px solid #181c20;
	border-right: 1px solid #363b40;
	border-bottom: 1px solid #4a4f53;
	padding: 10px
}

.button {
	display: inline-block;
	position: relative;
	height: 22px;
	padding: 0 15px;
	margin: 8px 2px 8px 0;
	line-height: 21px;
	background: #788492;
	text-align: center;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	border: 0;
	border-left: 1px solid #909da7;
	border-right: 1px solid #909da7;
	overflow: visible;
	cursor: pointer;
	box-sizing: border-box;
	outline: none
}

.button[disabled] {
	opacity: .5
}

.button:focus {
	border-color: transparent
}

.button:active {
	border-left-color: #788492;
	border-right-color: #788492
}

.button:before {
	content: " ";
	position: absolute;
	top: 0;
	bottom: 0;
	right: -3px;
	width: 2px;
	background: #252a2f
}

.button:active:before {
	top: -8px;
	background: #4f555c
}

.button:active:after {
	content: " ";
	position: absolute;
	top: 0;
	bottom: -5px;
	left: -1px;
	width: 2px;
	background: #171b1f
}

.button .top {
	position: absolute;
	height: 7px;
	top: -8px;
	left: 7px;
	right: -1px;
	background: #788492;
	border-top: 1px solid #909da7;
	border-right: 1px solid #909da7
}

.button:active .top {
	border-top-color: #788492;
	border-right-color: #788492
}

.button .top:before {
	content: " ";
	position: absolute;
	top: -1px;
	left: -8px;
	width: 8px;
	height: 8px;
	background: url(btn-contrast-tl.gif) no-repeat 0 0
}

.button:active .top:before {
	background-image: url(btn-contrast-active-tl.gif)
}

.button:active .top:after {
	content: " ";
	position: absolute;
	top: -1px;
	left: 0;
	right: -1px;
	height: 2px;
	background: #171b1f
}

.button .bottom {
	position: absolute;
	height: 5px;
	bottom: -5px;
	left: -1px;
	right: 5px;
	background: #788492;
	border-bottom: 1px solid #909da7;
	border-left: 1px solid #909da7
}

.button:active .bottom,
.button:hover .bottom {
	height: 4px;
	border-bottom: 2px solid #58b4dc
}

.button:active .bottom {
	border-left-color: #788492
}

.button .bottom:before {
	content: " ";
	position: absolute;
	bottom: -3px;
	left: 5px;
	right: 0;
	height: 2px;
	background: #252a2f
}

.button:hover .bottom:before {
	bottom: -4px
}

.button:active .bottom:before {
	bottom: -4px;
	left: -1px;
	background: #4f555c
}

.button .bottom:after {
	content: " ";
	position: absolute;
	bottom: -3px;
	right: -8px;
	width: 8px;
	height: 8px;
	background: url(btn-contrast-br.gif) no-repeat 0 0
}

.button:hover .bottom:after {
	bottom: -4px;
	background-image: url(btn-contrast-hover-br.gif)
}

.button:active .bottom:after {
	bottom: -4px;
	background-image: url(btn-contrast-active-br.gif)
}

.small.button {
	padding: 0 5px;
	font-size: 10px
}

.medium.button,
.small.button {
	height: 12px;
	line-height: 11px
}

.full.button {
	display: block;
	width: 100%
}

.dark.button,
.dark.button .bottom,
.dark.button .top {
	background-color: #21272c
}

.dark.button:active,
.dark.button:active .top {
	border-color: #21272c
}

.dark.button:active .bottom {
	border-left-color: #21272c
}

.dark.button,
.dark.button .bottom,
.dark.button .top {
	border-color: #3f4b54
}

.dark.button:active .bottom,
.dark.button:hover .bottom {
	border-bottom-color: #58b4dc
}

.dark.button .top:before {
	background-image: url(btn-standard-tl.gif)
}

.dark.button:active .top:before {
	background-image: url(btn-standard-active-tl.gif)
}

.dark.button .bottom:after {
	background-image: url(btn-standard-br.gif)
}

.dark.button:hover .bottom:after {
	background-image: url(btn-standard-hover-br.gif)
}

.dark.button:active .bottom:after {
	background-image: url(btn-standard-active-br.gif)
}

.traitor-tips {
	font-family: Verdana, sans-serif;
	font-size: 10pt;
	line-height: 1.3;
	padding: 10px
}

.traitor-tips h1 {
	font-size: 200%;
	padding-bottom: 10px;
	color: #000
}

.traitor-tips p {
	margin-bottom: 1em;
	position: relative
}

.traitor-tips .small {
	font-size: 80%
}

.traitor-tips em {
	font-size: 110%;
	color: red;
	font-weight: 700;
	font-style: normal
}

.traitor-tips span.sub {
	font-size: 80%
}

.traitor-tips .indent {
	padding: 5px 0 5px 25px;
	display: block
}

.traitor-tips img {
	display: block
}

.traitor-tips img.right {
	position: absolute;
	top: 5px;
	right: 20px
}

.traitor-tips .center {
	text-align: center;
	margin: 0 auto
}

.traitor-tips .image-right {
	padding-right: 50px
}

#createobj .selector_hs {
	width: 400px;
	overflow: auto
}

.matcomptext {
	padding: 0;
	font-weight: 400;
	color: #000;
	letter-spacing: 0;
	word-spacing: 1pt;
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	line-height: 1
}

#manubody,
.matcomptext {
	width: 100%;
	text-align: center;
	margin: 0
}

#manubody {
	background: url(http:/cdn.goonhub.com/images/bluebg.png) 0 0 no-repeat;
	background-attachment: fixed;
	height: 100%;
	padding: 15px;
	padding-right: 0
}

#manudiv {
	border: 0 none;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden
}

div.manuborder {
	background-color: #0b5091;
	border: 3px solid #0053ed;
	border-radius: 15px;
	width: 50%;
	padding: 3px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	color: #fff;
	text-align: center;
	display: block
}

a.manulink,
a.manulink:active,
a.manulink:hover,
a.manulink:link,
a.manulink:visited {
	border: 0 none;
	font-family: Arial, sans-serif;
	color: #fff;
	text-align: center;
	display: block
}

.traitorTag {
	color: red;
	font-weight: 700
}

.text-normal {
	font-weight: 400!important;
	font-style: normal!important
}

.text-red {
	color: red
}

.cf:after,
.cf:before {
	content: " ";
	display: table
}

.cf:after {
	clear: both
}

.cf {
	*zoom: 1
}

.tight {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden
}