#ignore misc BYOND files
Thumbs.db
*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
*.before
*.db
*.db-*
*.so
data/
cfg/
# ignore config, but not subdirs
config/*
!config/names/
!config/example/
!config/translation/
!config/warnings_templates/
!config/schema/
build_log.txt
use_map
stopserver
reboot_called
atupdate
__pycache__
.idea

sql/test_db
