#ignore misc BYOND files
Thumbs.db
*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
*.before
data/
cfg/
build_log.txt
use_map
stopserver
reboot_called
atupdate
__pycache__

# ignore config, but not subdirs
!config/*/
config/*
sql/test_db
maps/exodus/exodus-2 — копия (17).dmm
code/modules/mob/living/carbon/human/body_build.dm
code/modules/mob/living/carbon/human/body_build.dm
code/modules/mob/living/carbon/human/body_build.dm
baystation12.dme
baystation12.dme
baystation12.dme
baystation12.dme
maps/exodus/exodus-2 — копия.dmm
maps/exodus/exodus-2 — копия (4).dmm
maps/exodus/exodus-2 — копия (5).dmm
maps/exodus/exodus-2 — копия (3).dmm
maps/exodus/exodus-2 — копия (2).dmm
maps/away/lar_maria/lar_maria-1.dmm
maps/away/icarus/icarus-2.dmm
icons/obj/decals.dmi
