<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Список изменений сервера Chaotic Onyx</title>
    <link rel="stylesheet" type="text/css" href="font-awesome.css">
    <link rel="stylesheet" type="text/css" href="changelog.css">
    <base target="_blank" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
    <table class="align-center top">
        <tr>
            <td valign='top'>
                <div>
                    <b class="font-huge">Список изменений сервера Chaotic Onyx</b>
                </div>

                <p class="align-left font-medium lines-wide">
                    Разработка ведется при помощи игроков, которые поддерживают сервер своими пожертвованиями! Если вы хотите поддержать нас и принять участие в голосовании за то, какие фичи будут реализованы следующими, то подробную информацию можно найти в новостях на
                    нашем сервере Discord!
                </p>

                <p>
                    <div class="font-huge links">
                        <a href="https://boosty.to/onyx_spacestation">
                            <i class="fab fa-patreon"></i>
                        </a>
                        <a href="https://wiki.ss13.ru/index.php?title=Main_Page">
                            <i class="fas fa-book"></i>
                        </a>
                        <a href="https://github.com/ChaoticOnyx/OnyxBay">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://discord.gg/5BRMMFg">
                            <i class="fab fa-discord"></i>
                        </a>
                    </div>
                </p>
            </td>
        </tr>
    </table>

    <div class="commit">
        {{~ last_date = null ~}} {{~ for changelog in changelogs ~}} {{~ if last_date != changelog.date ~}}
        <div class="date"><span>{{ changelog.date | date.to_string '%d %B %Y' 'ru-RU' }}</span></div>
        {{~ last_date = changelog.date ~}} {{~ end ~}}
        <h3 class="author">{{ changelog.author }} updated:</h3>
        <ul class="changes">
            {{~ for change in changelog.changes ~}}
            <li class="{{ change.color }}"><i class="{{ change.icon }}"></i>{{ change.message_md_to_html }} {{- if change.pr -}}
                <sup><a href="https://github.com/ChaoticOnyx/OnyxBay/pull/{{ change.pr }}">#{{ change.pr }}</a></sup> {{- end -}}
            </li>
            {{~ end ~}}
        </ul>
        {{~ end ~}}
    </div>
</body>

</html>
