<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
  	<title>Список изменений сервера Chaotic Onyx</title>
	<link rel="stylesheet" type="text/css" href="font-awesome.css">
  	<link rel="stylesheet" type="text/css" href="changelog.css">
  	<base target="_blank" />
  	<script type='text/javascript'>

	function changeText(tagID, newText, linkTagID){
		var tag = document.getElementById(tagID);
		tag.innerHTML = newText;
		var linkTag = document.getElementById(linkTagID);
		linkTag.removeAttribute("href");
		linkTag.removeAttribute("onclick");
	}

  	</script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<table><tr><td>
<table class="align-center top">
	<tr>
		<td valign='top'>
		<div>
			<b class="font-huge">Список изменений сервера Chaotic Onyx</b>
		</div>

		<p>
			<div class="font-huge links" alt="Pateron">
				<a href="https://www.patreon.com/chaoticonyx">
					<i class="fab fa-patreon"></i>
				</a>
				<a href="https://wiki.ss13.ru/index.php?title=Main_Page" alt="Wiki">
					<i class="fas fa-book"></i>
				</a>
				<a href="https://github.com/ChaoticOnyx/OnyxBay" alt="Github">
					<i class="fab fa-github"></i>
				</a>
				<a href="https://discord.gg/5BRMMFg" alt="Discord">
					<i class="fab fa-discord"></i>
				</a>
			</div>
		</p>
		<p class="align-left font-medium lines-wide">
			Разработка ведется при помощи игроков, которые поддерживают сервер своими пожертвованиями! Если вы хотите поддержать нас и принять участие в голосовании за то, какие фичи будут реализованы следующими, то подробную информацию можно найти в новостях на нашем сервере Discord!
		</p>
		</td>
	</tr>
</table>

		<div class="commit font-huge">