.MechaFabricator {
  &__slideAnimation {
    animation: slide-up 0.4s ease;
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(100vh);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
