@use "../base.scss";
@use "../colors.scss";

$label: colors.$label !default;
$border-radius: base.$border-radius !default;
$background-color: base.$color-bg-section !default;

.TurfExamine {
  user-select: none;
  -ms-user-select: none;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;

  &__Card {
    box-sizing: border-box;
    width: 65px;
    height: 90px;
    padding: 5px;
    border-radius: $border-radius;
    background-color: $background-color;
  }

  &__Image {
    position: relative;
    text-align: center;
  }

  &__Image--error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  &__Count {
    position: absolute;
    font-weight: bold;
    font-size: 1.5rem;
    color: $label;
    text-shadow: 0px 0px 5px black;
    right: 0px;
    bottom: 0px;
  }

  &__Label {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-align: center;
    color: $label;
  }
}
