.Section {
  border-radius: 0.4rem;
  font-size: 1.2rem;
}

.Section__title {
  text-align: center;
}

.Section__titleText {
  font-size: 1.5rem;
}

.label-primer {
  padding: 0.15rem 0.5rem;
  border-radius: 1rem;
  text-decoration: none;
  margin-top: 0.15rem;
  margin-right: 0.05rem;
  margin-left: 0.15rem;
  cursor: pointer;
}

.link-primer {
  font-weight: bold;
  background: none !important;
}

.link-primer:hover {
  background: none;
}

.link-primer:not(.Button--disabled) {
  cursor: pointer;
}

.multipliers {
  margin-left: 4px;
  margin-bottom: 6px;
}

.multipliers * {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
}

.multipliers :first-child {
  border-radius: 0.4rem 0 0 0.4rem;
}

.multipliers :last-child {
  border-radius: 0 0.4rem 0.4rem 0;
}

.Input {
  border-radius: 0.5rem;
}
