$border-radius: .4rem;

.Section {
  border-radius: $border-radius;
  font-size: 1rem;
}

.Section__title {
  text-align: center;
}

.Section__titleText {
  font-size: 1.2em;
}

.Button {
  font-size: .9em;
  cursor: pointer;
  border-radius: $border-radius;
  font-weight: bold;
}

.label-primer {
  border: none !important;
  padding: .15rem .5rem;
  border-radius: 1rem;
  text-decoration: none;
  margin-top: .15rem;
  margin-right: .05rem;
  margin-left: .15rem;
  cursor: pointer;
}

.link-primer {
  font-weight: bold;
  background: none !important;
  cursor: pointer;
  border: none !important;
}

.link-primer:hover {
  background: none;
}

.link-primer.Button--disabled {
  cursor: default;
}

.multipliers {
  margin-left: 4px;
  margin-bottom: 6px;
}

.multipliers * {
  font-weight: bold;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
}

.multipliers :first-child {
  border-radius: $border-radius 0 0 $border-radius;
}

.multipliers :last-child {
  border-radius: 0 $border-radius $border-radius 0;
}

.multipliers .Button--disabled {
  cursor: default;
}

.Input {
  border-radius: $border-radius;
}

.Section__buttons {
  margin-top: -.15em;
}

.slide-animation {
  animation: slide-up 0.4s ease;
}

@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(100vh);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.ProgressBar {
  border-radius: $border-radius;
  
  .ProgressBar__fill {
    border-radius: $border-radius;
  }
}
