.Section {
  border-radius: .4rem;
  font-size: 1.2rem;
}

.Section__title {
  text-align: center;
}

.Section__titleText {
  font-size: 1.5rem;
}

.Button {
  cursor: pointer;
  border-radius: .4rem;
  font-weight: bold;
}

.label-primer {
  border: none !important;
  padding: .15rem .5rem;
  border-radius: 1rem;
  text-decoration: none;
  margin-top: .15rem;
  margin-right: .05rem;
  margin-left: .15rem;
  cursor: pointer;
}

.link-primer {
  font-weight: bold;
  background: none !important;
  cursor: pointer;
  border: none !important;
}

.link-primer:hover {
  background: none;
}

.link-primer.Button--disabled {
  cursor: default;
}

.multipliers {
  margin-left: 4px;
  margin-bottom: 6px;
}

.multipliers * {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
}

.multipliers :first-child {
  border-radius: .4rem 0 0 .4rem;
}

.multipliers :last-child {
  border-radius: 0 .4rem .4rem 0;
}

.multipliers .Button--disabled {
  cursor: default;
}

.Input {
  border-radius: .5rem;
}

.Section__buttons {
  margin-top: -.3rem;
}
