body {
    font-family: "New York", "Times New Roman", serif;
    background-color: #22272E;
    color: white;
    font-weight: 400;
    line-height: 1.5;
    behavior: url(pie.htc);
    scrollbar-base-color: #444d5c;
    scrollbar-face-color: #444d5c;
    scrollbar-3dlight-color: #22272E;
    scrollbar-highlight-color: #22272E;
    scrollbar-track-color: #22272E;
    scrollbar-arrow-color: #444d5c;
    scrollbar-shadow-color: #444d5c;
}

a {
    color: white;
    text-decoration: none;
}

.commit a {
    color: #14d0ff;
    border-bottom: 2px dashed #14d0ff
}

.links a {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 42px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-indent: 40px;
    text-align: left;
}

.font-huge {
    font-size: 32px;
}

.font-medium,
.author {
    font-size: 26px;
}

.font-small {
    font-size: 20px;
}

.changes li {
    padding: 2px 10px 2px 10px;
    background-position: 6px center;
    background-repeat: no-repeat;
    border-left: 4px solid #999;
    margin-bottom: 10px;
}

.changes li p {
    display: inline;
}

.changes li i {
    margin-right: 20px;
    max-width: 12px;
    min-width: 12px;
}

.changes li i.fa-plus-square,
i.fa-minus-square,
i.fa-compass,
i.fa-wrench {
    margin-left: 2px !important;
    margin-right: 18px !important;
}

li.green {
    border-left-color: #57AB5A;
    background-color: rgba(87, 171, 90, 0.2);
    background: linear-gradient(90deg, rgba(87, 171, 90, 0.2) 0%, rgba(71, 139, 73, 0) 100%);
    -pie-background: linear-gradient(rgba(87, 171, 90, 0.2) 0%, rgba(71, 139, 73, 0) 100%);
}

li.red {
    border-left-color: #E5534B;
    background-color: rgba(229, 83, 75, 0.2);
    background: linear-gradient(90deg, rgba(229, 83, 75, 0.2) 0%, rgba(158, 57, 52, 0) 100%);
    -pie-background: linear-gradient(rgba(229, 83, 75, 0.2) 0%, rgba(158, 57, 52, 0) 100%);
}

li.yellow {
    border-left-color: #DAAA3F;
    background: rgba(218, 170, 63, 0.2) linear-gradient(90deg, rgba(218, 170, 63, 0.2) 0%, rgba(150, 117, 44, 0) 100%);
    -pie-background: linear-gradient(rgba(218, 170, 63, 0.2) 0%, rgba(150, 117, 44, 0) 100%);
}

.commit {
    margin-bottom: 20px;
}

.changes {
    list-style: none;
    margin: 5px 0;
    padding: 0 0 0 25px;
    font-size: 0.8em;
}

.date {
    margin: 10px 0;
    color: #6B89DA;
    border-bottom: 4px solid #6B89DA;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.date span {
    left: 30%;
    top: 20px;
    background-color: #22272e;
    position: relative;
    padding: 10px;
}

.author {
    padding-left: 0px;
    margin: 0;
    font-weight: bold;
}


}