#uiLoadingNotice {
    position: relative;
    background: url(uiNoticeBackground.jpg) 50% 50%;
    color: #000000;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding: 3px 4px 3px 4px;
    margin: 4px 0 4px 0;
}
