<p>
  Чтобы поддержать наш сервер вы можете оформить подписку на Boosty или напрямую
  пожервовать определенную сумму.
</p>

{{:helper.link(
    "Наш Бусти",
    null,
    {
        "action": "go_to_boosty"
    },
    null
)}}
<br />

<p>
  Резвизиты для <b>разовых пожертвований</b> можно найти в разделе
  <b>#о-нас</b> нашего дискорда:
</p>

{{:helper.link(
    "Наш сервер Discord",
    null,
    {
        "action": "go_to_discord"
    },
    null
)}}
<br /><br />

<p class="block">
  За денежные пожертвования, в благодарность от нашего сервера, вы получаете
  <b>опиксы</b>, с помощью которых можно не только совершать покупки во
  внутриигровом магазине, но и голосовать за то, за какие фичи или фиксы будут
  выставлены денежные награды из бюджета сервера.
</p>
<p class="block">
  Также обратите внимание на то, что есть и другие способы получить опиксы,
  например, мы часто выдаем их в виде награды за различные конкурсы, а в будущем
  они будут выдаваться и за другие способы помощи серверу.
</p>
