{{if data.mode == 0}} <!-- Main Menu -->
    <div class="item">
		<h2>Main Menu</h2>
    </div>
    <!-- Toggle Psychoscope -->
    <div class="itemContent">
        {{:helper.link('Toggle Psychoscope', 'lightbulb', { 'option': 'togglePsychoscope' })}}
    </div>
	<!-- Show Lifeforms List -->
	<div class="itemContent">
		{{:helper.link('Species List', 'dna', { 'option': 'showLifeformsList' })}}
	</div>

	<!-- Technology Data Disk -->
	{{if data.inserted_disk}}
		<div class="itemContent">
			{{:helper.link('Eject Data Disk', 'save', { 'option': 'ejectDisk' })}}
		</div>
	{{else}}
		<div class="itemContent">
			{{:helper.link('Insert Data Disk', 'save', { 'option': 'insertDisk' })}}
		</div>
	{{/if}}

<!-- Scans Journal -->
{{else data.mode == 1}}
	<div class="item">
		<h2>{{:data.selected_lifeform.content.lifeform.genus}} Scans Journal</h2>
	</div>

    <!-- List of scans -->
	{{for data.selected_lifeform.content.scans_journal}}
		<div class="item">
			<b>Scan Object:</b> {{:value.name}}<br>
			<b>Date:</b> {{:value.date}}<br>
		</div>
	{{empty}}
		<div class="notice">
			<b>No scans detected.</b>
		</div>
	{{/for}}

	<div class="item">
		{{:helper.link('Close', 'arrow-left', { 'option': 'showLifeform', 'lifeform_type': data.selected_lifeform.lifeform_type })}}
	</div>

<!-- Lifeforms List -->
{{else data.mode == 2}}
	<div class="item">
		<h2>Species List ({{:data.opened_lifeforms}}/{{:data.total_lifeforms}})</h2>
	</div>

	{{for data.scanned}}
		<div class="itemContent">
			{{:helper.link(value.content.lifeform.genus, 'search', {'option': 'showLifeform', 'lifeform_type': value.lifeform_type})}}
		</div>
	{{empty}}
		<div class="notice">
			<b>No known lifeforms.</b>
		</div>
	{{/for}}
	<div class="item">
		{{:helper.link('Close', 'arrow-left', { 'option': 'showMainMenu' })}}
	</div>

<!-- Lifeform Details -->
{{else data.mode == 3}}
	{{if data.selected_lifeform}}
		<div class="item">
			<div class="itemLabel">
				<center><h2>{{:data.selected_lifeform.content.lifeform.species}}</h2></center>
				<center>{{:data.selected_lifeform.content.lifeform.img}}</center>
			</div>

			<div class="itemContent">
				<b>Kingdom:</b> {{:data.selected_lifeform.content.lifeform.kingdom}}<br>
				<b>Class:</b> {{:data.selected_lifeform.content.lifeform.class}}<br>
				<b>Genus:</b> {{:data.selected_lifeform.content.lifeform.genus}}<br>
				<b>Species:</b> {{:data.selected_lifeform.content.lifeform.species}}<br>
				<b>Description:</b> {{:data.selected_lifeform.content.lifeform.desc}}<br>
				<b>Scans: </b> {{:data.selected_lifeform.content.scan_count}}<br>
			</div>
		</div>

		<!-- Show Scans Journal -->
		<div class="itemContent">
			{{:helper.link('Scans Journal', 'clipboard', { 'option': 'showScansJournal', 'lifeform_type': data.selected_lifeform.lifeform_type })}}

			{{if data.inserted_disk == 'lifeform'}}
				{{:helper.link('Save Lifeform to Disk', 'save', { 'option': 'saveLifeformToDisk', 'lifeform_type': data.selected_lifeform.lifeform_type })}}
			{{else}}
				{{:helper.link('Save Lifeform to Disk', 'save', null, 'linkOff')}}
			{{/if}}
		</div>

		<div class="item">
			<h3>Technologies:</h3>
			{{for data.selected_lifeform.content.opened_techs}}
				<div class="item">
					<div class="itemContent">
						<b>{{:value.tech_name}}</b> - <b>{{:value.tech_level}}</b>
					</div>

					<div class="itemContent">
						{{if data.inserted_disk == 'tech'}}
							{{:helper.link('Save Technology to Disk', 'save', { 'option': 'saveTechToDisk', 'lifeform_type': data.selected_lifeform.lifeform_type, 'tech_id': value.tech_id, 'tech_level': value.tech_level })}}
						{{else}}
							{{:helper.link('Save Technology to Disk', 'save', null, 'linkOff')}}
						{{/if}}
					</div>
				</div>
			{{empty}}
				<div class="notice">
					No unlocked technologies.
				</div>
			{{/for}}
		</div>

		<div class="item">
			<h3>Neuromods:</h3>
			{{for data.selected_lifeform.content.opened_neuromods}}
				<div class="item">
					<div class="itemContent">
						<b>Name:</b> {{:value.neuromod_name}} <br>
						<b>Description:</b> {{:value.neuromod_desc}} <br>
					</div>

					<div class="itemContent">
						{{if data.inserted_disk == 'neuromod'}}
							{{:helper.link('Save Neuromod to Disk', 'save', { 'option': 'saveNeuromodToDisk', 'lifeform_type': data.selected_lifeform.lifeform_type, 'neuromod_type': value.neuromod_type })}}
						{{else}}
							{{:helper.link('Save Neuromod to Disk', 'save', null, 'linkOff')}}
						{{/if}}
					</div>
				</div>
			{{empty}}
				<div class="notice">
					No unlocked neuromods.
				</div>
			{{/for}}
		</div>
	{{else}}
		<div class="notice">
			<b>Error! Lifeform not found!</b>
		</div>
	{{/if}}

	<div class="item">
		{{:helper.link('Close', 'arrow-left', { 'option': 'showLifeformsList' })}}
	</div>
{{/if}}