{{if data.mode == 0}} <!-- Main Menu -->
    <div class="item">
		<h2>Main Menu</h2>
    </div>
    <!-- Toggle Psychoscope -->
    <div class="itemContent">
        {{:helper.link('Toggle Psychoscope', 'lightbulb', { 'option': 'togglePsychoscope' })}}
    </div>
    <!-- Show Scans Journal -->
    <div class="itemContent">
        {{:helper.link('Scans Journal', 'clipboard', { 'option': 'showScansJournal' })}}
	</div>
	<!-- Show Lifeforms List -->
	<div class="itemContent">
		{{:helper.link('Species List', 'dna', { 'option': 'showLifeformsList' })}}
	</div>
{{else data.mode == 1}}
	<div class="item">
		<h2>Psychoscope Scans Journal</h2>
	</div>
        <!-- List of scans -->
	{{for data.scans_journal}}
		<div class="item">
			<div class="itemContent"></div>
				<h3>Scan of "{{:value.scan.object_name}}"</h3>
				<b>Date: </b> {{:value.scan.date}}<br>
				<b>Kingdom:</b> {{:value.scan.lifeform.kingdom}}<br>
				<b>Class:</b> {{:value.scan.lifeform.class}}<br>
				<b>Genus:</b> {{:value.scan.lifeform.genus}}<br>
				<b>Species:</b> {{:value.scan.lifeform.species}}<br>

				{{:helper.link('Show Details', 'search', {'option': 'showLifeform', 'lifeform_reference': value.lifeform_reference})}}
				{{:helper.link('Delete Scan', 'trash', {'option': 'deleteScan', 'scan_reference': value.scan_reference}, null, 'redButton')}}
			</div>
		</div>
	{{empty}}
		<div class="notice">
			<b>No scans detected.</b>
		</div>
    {{/for}}
	<!-- Return to Main Menu -->
	<div class="item">
		{{:helper.link('Close', 'arrow-left', { 'option': 'showMainMenu' })}}
	</div>

<!-- Species List -->
{{else data.mode == 2}}
	<div class="item">
		<h2>Species List</h2>
	</div>

	{{for data.lifeforms_list}}
		<div class="itemContent">
			{{:helper.link(value.lifeform.genus, 'search', {'option': 'showLifeform', 'lifeform_reference': value.lifeform_reference})}}
		</div>
	{{empty}}
		<div class="notice">
			<b>No known lifeforms.</b>
		</div>
	{{/for}}
	<div class="item">
		{{:helper.link('Close', 'arrow-left', { 'option': 'showMainMenu' })}}
	</div>
<!-- Lifeform Details -->
{{else data.mode == 3}}
	{{if data.lifeform}}
		<div class="item">
			<div class="itemLabel">
				<center><h2>{{:data.lifeform.species}}</h2></center>
				<center>{{:data.lifeform.img}}</center>
			</div>

			<div class="itemContent">
				<b>Kingdom:</b> {{:data.lifeform.kingdom}}<br>
				<b>Class:</b> {{:data.lifeform.class}}<br>
				<b>Genus:</b> {{:data.lifeform.genus}}<br>
				<b>Species:</b> {{:data.lifeform.species}}<br>
				<b>Description:</b> {{:data.lifeform.desc}}<br>
				<b>Scans: </b> {{:data.lifeform.scan_count}}<br>
			</div>
		</div>

		<!-- TECHNOLOGIES LIST -->
		<div class="item">
			<h3>New Technologies:</h3>
		</div>

		{{for data.lifeform.opened_techs}}
			<div class="itemContent">
				<b>{{:value.tech_name}}</b> - {{:value.tech_level}}
			</div>
		{{empty}}
			<div class="notice">
				<b>No new technologies.</b>
			</div>
		{{/for}}

		{{if data.lifeform.opened_techs}}
			<div class="itemContent">
				{{:helper.link('Print Technology Data', 'print', { 'option': 'printTechs', 'lifeform_reference': data.lifeform_reference })}}
			</div>
		{{/if}}
		<!-- NEUROMODS LIST -->
		<div class="item">
			<h3>New Neuromods:</h3>
		</div>

		{{for data.lifeform.opened_neuromods}}
			<div class="item">
				<div class="imteLabel">
					<b>{{:value.neuromod_name}}</b> - {{:value.neuromod_desc}}
				</div>

				<div class="itemContent">
					{{:helper.link('Print Neuromod Disk Data', 'print', { 'option': 'printNeuromodData', 'neuromod_type': value.neuromod_type })}}
				</div>
			</div>
		{{empty}}
			<div class="notice">
				<b>No new neuromods.</b>
			</div>
		{{/for}}

	{{else}}
		<div class="notice">
			<b>Error! Lifeform not found!</b>
		</div>
	{{/if}}

	<div class="item">
		{{:helper.link('Close', 'arrow-left', { 'option': 'back' })}}
	</div>
{{/if}}