<h3>Sleeper</h3>
{{if !data.power}}
	<div class="item">
	<div class="itemLabel">
		NO POWER
	</div>
	{{if data.occupant}}
		<div class="itemContent">
			{{:helper.link("Eject occupant", null, {'eject' : 0})}}
		</div>
	{{/if}}
{{else}}
	{{if data.occupant}}
		<div class="item">
			<div class="statusDisplay">
				{{:data.occupant}}
			</div>
		{{if data.locked == 0}}
			<div class="itemContent">
			{{:helper.link(data.filtering ? "Dialysis active" : "Dialysis inactive", null, {'filter' : !data.filtering})}}
			</div>
			<div class="itemContent">
			{{:helper.link(data.pump ? "Stomach pump active" : "Stomach pump inactive", null, {'pump' : !data.pump})}}
			</div>
		{{if data.emagged == 1}}
			<div class="itemContent">
			{{:helper.link(data.locked ? "Unlock system" : "Lock System", null, {'locked' : !data.locked})}}
			</div>
		{{/if}}
			<div class="itemContent">
				{{:helper.link("Eject occupant", null, {'eject' : 0})}}
			</div>
		{{else}}
			<span class='noticePlaceholder'>
				(System locked. Please contact your system administrator.)
			</span>
		{{/if}}
		</div>
	{{else}}
		<div class="item">
			No occupant.
		</div>
	{{/if}}
	<div class="item">
	{{if data.locked == 0}}
		<div class="itemLabel">
			Stasis setting:
		</div>
		<div class="itemContent">
			{{:helper.link("Off", null,  {'stasis' : 1}, null, data.stasis == 1 ? 'yellowButton' : null)}}
			{{:helper.link("2x", null,  {'stasis' : 2}, null, data.stasis == 2 ? 'yellowButton' : null)}}
			{{:helper.link("5x", null,  {'stasis' : 5}, null, data.stasis == 5 ? 'yellowButton' : null)}}
		{{if data.freeze >= 2}}
			{{:helper.link("10x", null,  {'stasis' : 10}, null, data.stasis == 10 ? 'yellowButton' : null)}}
		{{/if}}
		{{if data.freeze >= 3}}
			{{:helper.link("15x", null,  {'stasis' : 15}, null, data.stasis == 15 ? 'yellowButton' : null)}}
		{{/if}}
		{{if data.freeze == 4}}
			{{:helper.link("20x", null,  {'stasis' : 20}, null, data.stasis == 20 ? 'yellowButton' : null)}}
		{{/if}}
		</div>
	{{/if}}
	</div>
	</div>
	<div class="item">
	{{for data.reagents}}
	{{if data.locked == 0}}
		<div class="itemLabel">
		{{:value.name}}
		</div>
		<div class="itemContent">
			{{:helper.link('Inject 5', null, {'chemical' : value.name, 'amount' : 5}, data.occupant ? null : 'disabled')}}{{:helper.link('Inject 10', null, {'chemical' : value.name, 'amount' : 10}, data.occupant ? null : 'disabled')}}
		</div>
	{{/if}}
	{{/for}}
	</div>
	{{if data.beaker != -1}}
		<div class="item">
		{{if data.locked == 0}}
			<div class="itemLabel">
				Beaker:
			</div>
			<div class="itemContent">
				{{:data.beaker}} units of free space remaining.
				{{:helper.link("Eject", null, {'beaker' : 0})}}
			</div>
		{{/if}}
		</div>
	{{else}}
		<div class="item">
			<div class="itemLabel">
				No beaker inserted.
			</div>
		</div>
	{{/if}}
{{/if}}
