{{@ window({ width: 520, height: 465 }, it) /}}

{{@ if(it.data.failTime) }}
<div class='notice'>
	<b><h3>SYSTEM FAILURE</h3></b>
	<i>I/O regulators malfunction detected! Waiting for system reboot...</i><br>
	Automatic reboot in { it.data.failTime }} seconds...
	{{@ link({ act: { 'reboot': 1 } }) }}
	{{# body }}
		{{@ icon({ name: 'sync' }) /}}
		Reboot Now
	{{/ link }}<br><br><br>
</div>
{{# else }}
<div class='notice'>
	{{@ if(it.data.siliconUser) }}
		<div class="itemContentSmall">
			Interface Lock:
		</div>
		<div class="itemContentFull">
			{{@ link({ act: { 'toggleaccess': 1 }, enabled: !it.data.locked }) }}
			{{# body }}
				{{@ icon({ name: 'lock' }) /}}
				Engaged
			{{/ link }}
			{{@ link({ act: { 'toggleaccess': 1 }, enabled: (it.data.malfStatus < 2 ? false : it.data.locked) }) }}
			{{# body }}
				{{@ icon({ name: 'lock-open' }) /}}
				Disengaged
			{{/ link }}
		</div>
		<div class="clearBoth"></div>
	{{# else }}
		{{@ if(it.data.locked) }}
			Swipe an ID card to unlock this interface
		{{# else }}
			Swipe an ID card to lock this interface
		{{/ if }}
	{{/ if }}
</div>

<div style="min-width: 480px">

	<h3>Power Status</h3>

	<div class="item">
		<div class="itemLabel">
			Main Breaker:
		</div>
		<div class="itemContent">
			{{@ if(it.data.locked && !it.data.siliconUser) }}
				{{@ if(it.data.isOperating) }}
					<span class='good'>On</span>
				{{# else }}
					<span class='bad'>Off</span>
				{{/ if }}
			{{# else }}	
				{{@ link({ act: { 'breaker': 1 }, class: it.data.isOperating ? 'selected' : null }) }}
				{{# body }}
					{{@ icon({ name: 'lightbulb', type: 'r' }) /}}
					On
				{{/ link }}
				{{@ link({ act: { 'breaker': 1 }, class: it.data.isOperating ? null : 'selected' }) }}
				{{# body }}
				{{@ icon({ name: 'lightbulb', type: 'r' }) /}}
					Off
				{{/ link }}
			{{/ if }}
		</div>
	</div>

	<div class="item">
		<div class="itemLabel">
			External Power:
		</div>
		<div class="itemContent">
			{{@ if(it.data.externalPower === 2) }}
				<span class='good'>Good</span>
			{{# elif(it.data.externalPower === 1) }}
				<span class='average'>Low</span>
			{{# else }}
				<span class='bad'>None</span>
			{{/ if }}
		</div>
	</div>

	<div class="item">
		<div class="itemLabel">
			Power Cell:
		</div>
		{{@ if(it.data.powerCellStatus === null) }}
			<div class="itemContent bad">		
				Power cell removed.
			</div>
		{{# else }}
			{{@ progressBar({ value: it.data.powerCellStatus, min: 0, max: 100, class: (it.data.powerCellStatus >= 50) ? 'good' : (it.data.powerCellStatus >= 25) ? 'average' : 'bad' }) /}}
			<div class="itemContent" style="width: 60px">		
				{{ it.data.powerCellStatus | round }}%
			</div>	
		{{/ if }}
	</div>

	{{@ if(it.data.powerCellStatus != null) }}
		<div class="item">
			<div class="itemLabel">
				Charge Mode:
			</div>
			<div class="itemContent">
				{{@ if(it.data.locked && !it.data.siliconUser) }}
					{{@ if(it.data.chargeMode) }}
						<span class='good'>Auto</span>
					{{# else }}
						<span class='bad'>Off</span>
					{{/ if }}				
				{{# else }}
					{{@ link({ act: { 'cmode': 1 }, class: it.data.chargeMode ? 'selected' : null }) }}
					{{# body }}
						{{@ icon({ name: 'sync' }) /}}
						Auto
					{{/ link }}
					{{@ link({ act: {'cmode': 1}, class: it.data.chargeMode ? null : 'selected' }) }}
					{{# body }}
						{{@ icon({ name: 'times' }) /}}
						Off
					{{/ link }}
				{{/ if }}
				&nbsp;
				{{@ if(it.data.chargingStatus > 1) }}
					[<span class='good'>Fully Charged</span>]
				{{# elif(it.data.chargingStatus === 1) }}
					[<span class='average'>Charging</span>]
				{{# else }}
					[<span class='bad'>Not Charging</span>]
				{{/ if }}
			</div>
		</div>
	{{/ if }}


	<h3>Power Channels</h3>

	{{@ each(it.data.powerChannels) => value, index }}
		<div class="item">
			<div class="itemLabel">
				{{ value.title }}:
			</div>
			<div class="itemContent" style="width: 70px; text-align: right">
				{{ value.powerLoad }}&nbsp;W
			</div>
			<div class="itemContent" style="width: 105px">
				&nbsp;&nbsp;
				{{@ if(value.status < it.data.pChan_On) }}
					<span class='bad'>Off</span>
				{{# else }}
					<span class='good'>On</span>
				{{/ if }}
				{{@ if(it.data.locked) }}
					{{@ if(value.status === it.data.pChan_Off_A || value.status === it.data.pChan_On_A) }}
						&nbsp;&nbsp;Auto
					{{# else }}
						&nbsp;&nbsp;Manual
					{{/ if }}		
				{{/ if }}
			</div>
			{{@ if(!it.data.locked || it.data.siliconUser) }}
				<div class="itemContentFull">
					{{@ link({ act: value.topicParams.auto, class: (value.status === it.data.pChan_Off_A || value.status === it.data.pChan_On_A) ? 'selected' : null }) }}
					{{# body }}
						{{@ icon({ name: 'sync' }) /}}
						Auto
					{{/ link }}
					{{@ link({ act: value.topicParams.on, class: (value.status === it.data.pChan_Off_T || value.status === it.data.pChan_On) ? 'selected' : null }) }}
					{{# body }}
						{{@ icon({ name: 'lightbulb' }) /}}
						On
					{{/ link }}
					{{@ link({ act: value.topicParams.off, class: (value.status === it.data.pChan_Off) ? 'selected' : null }) }}
					{{# body }}
						{{@ icon({ name: 'times' }) /}}
						Off
					{{/ link }}
				</div>
			{{/ if }}
		</div>
	{{/ each }}

	<div class="item" style="font-weight: bold">
		<div class="itemLabel">
			Total Load:
		</div>
		<div class="itemContent">
			{{@ if(it.data.totalCharging) }}
				{{ it.data.totalLoad }}W (+ {{ it.data.totalCharging }}W Charging)
			{{# else }}
				{{ it.data.totalLoad }}W
			{{/ if }}
		</div>
	</div>

	<div class="item">&nbsp;</div>

	<div class="item">
		<div class="itemLabel">
			Cover Lock:
		</div>
		<div class="itemContent">
			{{@ if(it.data.locked && !it.data.siliconUser) }}
				{{@ if(it.data.coverLocked) }}
					<span class='good'>Engaged</span>
				{{# else }}
					<span class='bad'>Disengaged</span>
				{{/ if }}
			{{# else }}
				{{@ link({ act: { 'lock': 1 }, 'class': it.data.coverLocked ? 'selected' : null }) }}
				{{# body }}
					{{@ icon({ name: 'lock' }) /}}
					Engaged
				{{/ link }}
				{{@ link({ act: { 'lock': 1 }, class: it.data.coverLocked ? null : 'selected' }) }}
				{{# body }}
					{{@ icon({ name: 'lock-open' }) /}}
					Disengaged
				{{/ link }}
			{{/ if }}
		</div>
	</div>

	{{@ if(it.data.siliconUser) }}
		<h3>System Overrides</h3>

		<div class="item">
			{{@ link({ act: { 'overload': 1 } }) }}
			{{# body }}
				{{@ icon({ name: 'lightbulb' }) /}}
				Overload Lighting Circuit
			{{/ link }}

			{{@ if(it.data.malfStatus === 1) }}
				{{@ link({ act: { 'malfhack' : 1 } }) }}
				{{# body }}
					{{@ icon({ name: 'scroll' }) /}}
					Override Programming
				{{/ link }}
			{{# elif(it.data.malfStatus > 1) }}
				<div class='notice'>APC Hacked</div>
			{{/ if }}
		</div>
	{{/ if }}

</div>
{{/ if }}