{{@ if(it.data.PC_hasheader) }}
	<div style="float: left">
		<div class='item'>
			<table><tr>
			{{@ if(it.data.PC_batteryicon && it.data.PC_showbatteryicon) }}
				<td><img src='{{ it.data.PC_batteryicon }}'>
			{{/ if }}
			{{@ if(it.data.PC_batterypercent && it.data.PC_showbatteryicon) }}
				<td><b>{{ it.data.PC_batterypercent }}</b>
			{{/ if }}
			{{@ if(it.data.PC_ntneticon) }}
				<td><img src='{{ it.data.PC_ntneticon }}'>
			{{/ if }}
			{{@ if(it.data.PC_apclinkicon) }}
				<td><img src='{{ it.data.PC_apclinkicon }}'>
			{{/ if }}
			{{@ if(it.data.PC_stationtime) }}
				<td><b>{{ it.data.PC_stationtime }}<b>
			{{/ if }}
			{{@ each(it.data.PC_programheaders) => value }}
				<td><img src='{{ value.icon }}'>
			{{/ each }}
			</table>
		</div>
	</div>
	<div style="float: right">
		<table><tr>
			<td>{{@ link({ act: { 'PC_shutdown': 1 }, body: 'Shutdown' }) /}}
			{{@ if(it.data.PC_showexitprogram) }}
				<td>{{@ link({ act: { 'PC_exit': 	 1 }, body: 'Exit Program' 	   }) /}}
				<td>{{@ link({ act: { 'PC_minimize': 1 }, body: 'Minimize Program' }) /}}
			{{/ if }}
		</table>
	</div>
	<div style="clear: both">
{{/ if }}

<div id='uiTitleWrapper'>
	<div id='uiStatusIcon'></div>
	<div id='uiTitleText'>{{ it.config.title }}</div>
	<div id="uiTitleButtons">
	{{@ if(it.config.fancy) }}
		<div id='maximizeWindow'>{{@ icon({ name: 'square', type: 'r' }) /}}</div>
		<div id='closeWindow'>{{@ icon({ name: 'times' }) /}}</div>		
	{{/ if }}
	</div>
</div>
<div id='uiMapWrapper' class="hidden">
    <div id='uiMapHeader'>
		{{@ link({ act: { 'showMap': 0 }, body: 'Hide Map' }) /}}
		<div style="float: right; width: 240px;">
			<span style="float: left;">Z Level:&nbsp;</span>
			{{@ each(it.config.mapZLevels) => zValue, zIndex }}
				{{@ link({ act: { 'mapZLevel': zValue }, body: zValue, class: it.config.mapZLevel == zValue ? 'selected' : null }) /}}
			{{/ each }}
		</div>

        <div style="float: right; width: 240px;">
            <span style="float: left;">Zoom Level:&nbsp;</span>
            <div class="link zoomLink" data-zoom-level="4">x1.0</div>
            <div class="link zoomLink" data-zoom-level="6">x1.5</div>
            <div class="link zoomLink" data-zoom-level="8">x2.0</div>
            <div class="link zoomLink" data-zoom-level="12">x2.5</div>
        </div>
        <!-- Add a template with the key "mapHeader" to have it rendered here -->
    </div>
    <div id='uiMapContainer'>
        <div id='uiMap'>
            <img id="uiMapImage" src="{{ it.config.mapName }}-{{ it.config.mapZLevel }}.png" width="256" height="256" />
            <div id='uiMapContent'>
                <!-- Add a template with the key "mapContent" to have it rendered here (on the map) -->
                <!-- Having a "mapContent" template enables the map functionality -->
            </div>
        </div>
        <div id="uiMapTooltip"></div>
    </div>
    <div id='uiMapFooter'>
        <!-- Add a template with the key "mapFooter" to have it rendered here -->
    </div>
</div>
<div id='uiContent'>
	<div id='uiLoadingNotice'>Initiating...</div>
</div>