.theme-arcade {
  .Layout,
  .Layout * {
    scrollbar-base-color: #2d333b;
    scrollbar-face-color: #2d333b;
    scrollbar-3dlight-color: #282828;
    scrollbar-highlight-color: #282828;
    scrollbar-track-color: #282828;
    scrollbar-arrow-color: #2d333b;
    scrollbar-shadow-color: #2d333b;
  }
  .Layout__content {
    background-color: #282828;
    background-image: none;
  }

  .TitleBar {
    border: none;
    box-shadow: none;
    user-select: none;
    -ms-user-select: none;

    background-color: #2d333b;
    border: none;

    &__title {
      color: white;
    }

    &__close {
      background-color: #2d333b;
      color: white;

      &:hover {
        background-color: red;
        color: white;
      }
    }
  }

  .Display {
    background-color: #ffffff;
    padding: 1rem;
    margin: 1rem;
    border: #1e1e1e solid 0.3rem;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.6rem 0.1rem #181818;
    background-image: linear-gradient(
        to top,
        rgba(43, 131, 47, 0.8) 33.33333%,
        rgba(43, 131, 47, 0.8) 33.33333%,
        rgba(43, 131, 47, 0.8) 66.66666%,
        rgba(43, 131, 47, 0.8) 66.66666%
      ),
      linear-gradient(
        to right,
        rgba(#f00, 0.7) 33.33333%,
        rgba(#0f0, 0.7) 33.33333%,
        rgba(#0f0, 0.7) 66.66666%,
        rgba(#00f, 0.7) 66.66666%
      );

    background-size: 0.3rem 0.3rem;

    * {
      margin: auto;
    }
  }

  .ArcadeTitle {
    font-size: 1.7em;
    text-align: center;
    font-family: 'Unispace';
    color: rgba(255, 255, 255, 0.7);

    background-color: #2d333b;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }

  .Enemy,
  .Player,
  .Message,
  .GameOver {
    color: #00ff00;
    font-size: 1.5em;
    font-family: 'Unispace';
    text-align: center;
    opacity: 0.8;

    text-shadow: 0.15rem 0 rgba(255, 0, 0, 0.6), -0.15rem 0 rgba(0, 0, 255, 0.6);
  }

  .Button {
    cursor: pointer;
    color: #00ff00;
    font-size: 1.5em;
    font-family: 'Unispace';
    text-align: center;
    opacity: 0.8;

    text-shadow: 0.2rem 0 rgba(255, 0, 0, 0.6), -0.2rem 0 rgba(0, 0, 255, 0.6);
    background: transparent;

    &:hover,
    &:focus,
    &.Button--selected {
      color: #ffffff;
    }
  }
}
