@use 'sass:meta';

$border-thick: .1rem;

.theme-primer-dark {
  @include meta.load-css('../primer.scss');

  .Layout__content {
    background-color: #17283b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2379b8ff' fill-opacity='.2'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 8rem;
  }

  .Section {
    background-color: #22272e;
    color: white;
    border: #373e47 solid $border-thick;
  }

  .Section__rest {
    color: #768390;
  }

  .Section__title {
    border-bottom: #373e47 solid $border-thick;
    background-color: #2d333b;
  }

  .Section__titleText {
    color: white;
  }

  .Button {
    color: #ADBAC7;
    background-color: #21262D;
    border: #444C56 solid $border-thick;
  }

  .Button:hover, .Button__selected, .Button:focus {
    background-color: #444C56;
    border: #768390 solid $border-thick;
  }

  .label-primer {
    background-color: #263b58;
    color: #58a6ff;
  }

  .label-primer:hover,
  .label-primer.Button--selected,
  .label-primer:focus {
    color: #58a6ff;
    background-color: #2d5996;
  }

  .Divider:not(.Divider--hidden) {
    border: none;
    border-bottom: #373e47 solid $border-thick;
  }

  .link-primer {
    color: #58a6ff;
  }

  .link-primer.Button--disabled,
  .link-primer.Button--disabled:hover {
    color: #586069 !important;
  }

  .link-primer:hover {
    color: white;
  }

  .candystripe {
    background-color: #22272e;
  }
  .candystripe:nth-child(odd) {
    background-color: #2d333b;
  }

  .multipliers *,
  .multipliers .Button--disabled {
    border: none;
    background-color: #22272E;
    border-top: #444c56 solid $border-thick;
    border-bottom: #444c56 solid $border-thick;
    color: #58a6ff;
  }

  .multipliers :first-child {
    border-top: #444c56 solid $border-thick;
    border-left: #444c56 solid $border-thick;
    border-bottom: #444c56 solid $border-thick;
  }

  .multipliers :last-child {
    border-top: #444c56 solid $border-thick;
    border-right: #444c56 solid $border-thick;
    border-bottom: #444c56 solid $border-thick;
  }

  .multipliers *:hover:not(.Button--disabled),
  .multipliers *:focus:not(.Button--disabled) {
    border: none;
    color: white;
    background-color: #0366d6;
    border-top: #3694ff solid $border-thick;
    border-bottom: #3694ff solid $border-thick;
  }

  .multipliers *:first-child:hover:not(.Button--disabled),
  .multipliers *:first-child:focus:not(.Button--disabled) {
    background-color: #0366d6;
    border-top: #3694ff solid $border-thick;
    border-left: #3694ff solid $border-thick;
    border-bottom: #3694ff solid $border-thick;
  }

  .multipliers *:last-child:hover:not(.Button--disabled),
  .multipliers *:last-child:focus:not(.Button--disabled) {
    background-color: #0366d6;
    border-top: #3694ff solid $border-thick;
    border-right: #3694ff solid $border-thick;
    border-bottom: #3694ff solid $border-thick;
  }

  .multipliers .Button--disabled {
    color: #5C6772;
    background-color: #293037 !important;
  }

  .Input {
    color: white;
    background-color: #22272e;
    border: #373e47 solid $border-thick;
  }

  .Input__input {
    &:-ms-input-placeholder {
      color: #768390;
    }
  }

  .TitleBar {
    background-color: #2d333b;
    border: none;
    box-shadow: none;
    user-select: none;
    -ms-user-select: none;
    border-bottom: #373e47 solid $border-thick;
  }

  .TitleBar__title {
    color: white;
  }

  .TitleBar__close {
    background-color: #2d333b;
    color: white;
  }

  .TitleBar__close:hover {
    background-color: red;
    color: white;
  }

  .Layout,
  .Layout * {
    scrollbar-base-color: #2d333b;
    scrollbar-face-color: #2d333b;
    scrollbar-3dlight-color: #22272e;
    scrollbar-highlight-color: #22272e;
    scrollbar-track-color: #22272e;
    scrollbar-arrow-color: #2d333b;
    scrollbar-shadow-color: #2d333b;
  }
}
