@use 'sass:meta';

$border-thick: 0.1rem;

.theme-primer-white {
  @include meta.load-css('../primer.scss');

  .Layout__content {
    background-color: #0366d6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2379b8ff' fill-opacity='.7'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 8rem;
  }

  .Section {
    background-color: #f6f8fa;
    color: #24292e;
    border: #d9dbdb solid $border-thick;
  }

  .Section__rest {
    color: #586069;
  }

  .Section__title {
    border-bottom: #d9dbdb solid $border-thick;
    background-color: #ffffff;
  }

  .Section__titleText {
    color: #24292e;
  }

  .Button {
    color: #24292e;
    background-color: #fafbfc;
    border: #d9dbdb solid $border-thick;
  }

  .Button:hover,
  .Button--selected,
  .Button:focus {
    background-color: #edeff2;
    border: #b3b6b9 solid $border-thick;
  }

  .label-primer {
    background-color: #e7f3ff;
    color: #0366d6;
  }

  .label-primer:hover,
  .label-primer.Button--selected,
  .label-primer:focus {
    background-color: #c4e2ff;
    color: #0366d6;
  }

  .Divider:not(.Divider--hidden) {
    border: none;
    border-bottom: #d9dbdb solid $border-thick;
  }

  .link-primer {
    color: #0366d6;
  }

  .link-primer:hover {
    color: #50a2ff;
  }

  .link-primer.Button--disabled,
  .link-primer.Button--disabled:hover {
    color: #586069 !important;
  }

  .candystripe {
    background-color: #f6f8fa;
  }
  .candystripe:nth-child(odd) {
    background-color: #eeeeee;
  }

  .multipliers *,
  .multipliers .Button--disabled {
    border: none;
    background-color: #fafbfc;
    border-top: #d9dbdb solid $border-thick;
    border-bottom: #d9dbdb solid $border-thick;
    color: #0366d6;
  }

  .multipliers :first-child {
    border-top: #d9dbdb solid $border-thick;
    border-left: #d9dbdb solid $border-thick;
    border-bottom: #d9dbdb solid $border-thick;
  }

  .multipliers :last-child {
    border-top: #d9dbdb solid $border-thick;
    border-right: #d9dbdb solid $border-thick;
    border-bottom: #d9dbdb solid $border-thick;
  }

  .multipliers :hover:not(.Button--disabled),
  .multipliers :focus:not(.Button--disabled) {
    border: none;
    color: white;
    background-color: #0366d6;
    border-top: #3694ff solid $border-thick;
    border-bottom: #3694ff solid $border-thick;
  }

  .multipliers :first-child:hover:not(.Button--disabled),
  .multipliers :first-child:focus:not(.Button--disabled) {
    background-color: #0366d6;
    border-top: #3694ff solid $border-thick;
    border-left: #3694ff solid $border-thick;
    border-bottom: #3694ff solid $border-thick;
  }

  .multipliers :last-child:hover:not(.Button--disabled),
  .multipliers :last-child:focus:not(.Button--disabled) {
    background-color: #0366d6;
    border-top: #3694ff solid $border-thick;
    border-right: #3694ff solid $border-thick;
    border-bottom: #3694ff solid $border-thick;
  }

  .multipliers .Button--disabled {
    color: #959DA5;
    background-color: #FAFBFC !important;
  }

  .Input {
    color: #24292e;
    background-color: #ffffff;
    border: #e1e4e8 solid $border-thick;
  }

  .Input__input {
    &:-ms-input-placeholder {
      color: #959da5;
    }
  }

  .TitleBar {
    background-color: #ffffff;
    border: none;
    box-shadow: none;
    user-select: none;
    -ms-user-select: none;
    border-bottom: #d9dbdb solid $border-thick;
  }

  .TitleBar__title {
    color: black;
  }

  .TitleBar__close {
    background-color: #ffffff;
    color: black;
  }

  .TitleBar__close:hover {
    background-color: red;
    color: white;
  }

  .Layout,
  .Layout * {
    scrollbar-base-color: #f6f8fa;
    scrollbar-face-color: #f6f8fa;
    scrollbar-3dlight-color: #f6f8fa;
    scrollbar-highlight-color: #f6f8fa;
    scrollbar-track-color: #d9dbdb;
    scrollbar-arrow-color: #f6f8fa;
    scrollbar-shadow-color: #d9dbdb;
  }
}
