.theme-spellbook {
  $border-thick: 0.15rem;
  $icon-size: 4rem;

  @mixin item-border {
    border: transparent solid $border-thick + 0.1rem;
    border-image: url('../../assets/spellbook/item_border.png');
    border-image-slice: 6 6 6 6 fill;
    border-image-width: 4px;
  }

  @mixin item-border-selected {
    border: transparent solid $border-thick + 0.1rem;
    border-image: url('../../assets/spellbook/item_border_selected.png');
    border-image-slice: 6 6 6 6 fill;
    border-image-width: 4px;
  }

  @mixin item-border-ignored {
    border: transparent solid $border-thick + 0.1rem;
    border-image: url('../../assets/spellbook/item_border_ignored.png');
    border-image-slice: 6 6 6 6 fill;
    border-image-width: 4px;
  }

  .TitleBar {
    font-family: Reaver, serif;
    border: none;
    box-shadow: none;
    user-select: none;
    -ms-user-select: none;

    background-color: #5c2226;

    &__title {
      color: white;
    }

    &__close {
      background-color: #5c2226;
      color: white;

      &:hover {
        background-color: red;
        color: white;
      }
    }
  }

  .Layout__content {
    font-family: 'Reaver', serif;
    background: none;
    background-color: #42372d;
  }

  .Card {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    padding-top: 0;
    background-color: #24201d;
    border-radius: 0.25rem;
    border: #615877 solid $border-thick;
    box-shadow: inset 0 0 0.6rem 0.1rem #1b1820;

    .Icon--spell,
    .Icon--artifact,
    .game-icon {
      vertical-align: -1.5rem;
    }

    &__buttons {
      float: right;
      font-size: 0.8em;
    }
  }

  .Button {
    cursor: pointer;
    margin-top: 0.2rem;
    color: #fce940;
    background-color: #5c2226;
    border-radius: 0.25rem;
    border: #351315 solid $border-thick;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.9em;

    &:hover,
    &:focus {
      background-color: #8b343a;
    }

    &--selected {
      color: #8b343a !important;
      background-color: #fce940 !important;
      border: #cfc033 solid $border-thick !important;

      .Icon--spell {
        box-shadow: inset 0 0 1rem 0.15rem #314483;
        @include item-border-selected;
      }

      .Icon--artifact {
        box-shadow: inset 0 0 1rem 0.15rem #593080;
        @include item-border-selected;
      }
    }

    &--disabled {
      cursor: default;
      background-color: #4b3133 !important;
      color: #a59e64;
      border: #311e20 solid $border-thick;
    }
  }

  .Button--invisible {
    background: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    height: $icon-size;
  }

  img {
    width: $icon-size;
  }

  .Icon--spell {
    @include item-border;
    box-shadow: inset 0 0 1rem 0.15rem #10162b;

    &:hover,
    &:focus {
      box-shadow: inset 0 0 1rem 0.15rem #314483;
      @include item-border-selected;
    }
  }

  .Icon--artifact {
    @include item-border;
    box-shadow: inset 0 0 1rem 0.15rem #221324;

    &:hover,
    &:focus {
      box-shadow: inset 0 0 1rem 0.15rem #593080;
      @include item-border-selected;
    }
  }

  .Icon--sacrifice {
    @include item-border;
    box-shadow: inset 0 0 1rem 0.15rem #2c1010;

    &:hover,
    &:focus {
      box-shadow: inset 0 0 1rem 0.15rem #813131;
      @include item-border-selected;
    }
  }

  .Icon--ignored {
    box-shadow: inset 0 0 1rem 0.5rem #521f1f;
    @include item-border-ignored;
  }

  .Input {
    background-color: #0f0c0a;
    border-radius: 0.5rem;
    border: #63677c solid $border-thick;

    &__input {
      font-family: 'Reaver';
    }
  }

  .Flag {
    font-weight: bold;

    &--needsClothes {
      color: rgb(243, 98, 123);
    }

    &--needsHuman {
      color: rgb(91, 143, 255);
    }

    &--noButton {
      color: rgb(91, 255, 118);
    }

    &--investable {
      color: gold;
    }

    &--contracts {
      color: rgb(0, 217, 255);
    }
  }

  .Divider {
    border-top: rgba(255, 255, 255, 0.1) solid 2px;
  }
}
